# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
temp.php
# composer vendor dir
/vendor
vendor
# composer itself is not needed
composer.phar
# phpunit itself is not needed
phpunit.phar
# local phpunit config
